<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>DigPro - цифровое резюме</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="../style/main_css.css">
	<link rel="stylesheet" href="../style/first.css">
	<link rel="stylesheet" href="../style/second.css">
    <link rel="stylesheet" href="../style/third.css">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="index.html" class="logo">
					DigPro
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">

					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
                            <label>
                                <input type="text" placeholder="Поиск..." class="form-control">
                            </label>
                        </div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="../picture/1.jpg" alt="user-img" width="36" class="img-circle"><span >BelyaevaON</span></a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="../picture/1.jpg" alt="user"></div>
										<div class="u-text">
											<h4>BelyaevaON</h4>
{#											<p class="text-muted">hello@themekita.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>#}
										</div>
                                    </div>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </ul>
                </div>
            </nav>
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<ul class="nav">
						<li class="nav-item active">
							<a href="index.html">
								<p>Визуализация</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="progress.html">
								<p>Прогресс по профилю</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="resume.html">
								<p>Цифровое резюме</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<h4 class="page-title">Визуализация данных</h4>
						<div class="row">
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Диаграмма 1</h4>
                                        <div class="u-img"><img src="../picture/2.png" alt="user"></div>
									</div>
								</div>
							</div>
                        </div>
                        <div class="row">
							<div class="col-md-8">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Диаграмма 2</h4>
                                        <div class="u-img"><img src="../picture/3.png" alt="user"></div>
									</div>
								</div>
							</div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">Таблица</h4>
                                    <p class="card-category">Users Table</p>
                                </div>
                                <div class="card-body">
                                    <table class="table table-head-bg-success table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">№</th>
                                                <th scope="col">ФИО</th>
                                                <th scope="col">Дата рождения</th>
                                                <th scope="col">Направление</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Абакумова Виктория Вячеславовна</td>
                                                <td>06.08.1998</td>
                                                <td>Журналистика</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Аверьянова Екатерина Алексеевна</td>
                                                <td>07.09.1998</td>
                                                <td>Журналистика</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Агафонова Анастасия Александровна</td>
                                                <td>15.01.1999</td>
                                                <td>Философия</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>